body {
    font-family: sans-serif;
}
nav {
    background-color: grey;
    border: 3px solid black;
}
.navbar-brand {
    font-size: 40px;
    color: black;
    margin: 0px;
    display: inline-block;
    padding: 10px 10px 10px 40px;
}
.navbar-toggler {
    display: inline-block;
    margin: 10px;
}
h1 {
    font-size: 35px;
    text-align: center;
}
.container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.Chicken {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: grey;
    margin: 10px;
    padding: 10px;
    height: 1300px;
    width: auto;
    overflow: hidden;
}
.Chickenp {
    font-size: 20px;
    font-weight: normal;
}
.Beef {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: grey;
    margin: 10px;
    padding: 10px;
    height: 1300px;
    width: auto;
    overflow: hidden;
}
.Beefp {
    font-size: 20px;
    font-weight: normal;
}
.Sushi {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: grey;
    margin: 10px;
    padding: 10px;
    height: 1300px;
    width: auto;
    overflow: hidden;
}
.Suship {
    font-size: 20px;
    font-weight: normal;
}